.list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}
.review {
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
}
.review-img {
  margin-bottom: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review__section {
  position: relative;
  background-color: #fafafa;
  padding: 43px 66px 26px 57px;
  margin-bottom: 30px;
}
.review__section__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  color: #000;
}
.review__section__text::before {
  content: '';
  position: absolute;
  left: 61px;
  top: 28px;
  width: 54px;
  height: 40px;
  background-image: url(../images/quotes-min.png);
  //   background: #e1e1e1;
  transform: rotate(-180deg);
}
//   background-size: 100px 100px;
.review__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}
.review__title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
  color: #000;
  margin-bottom: 30px;
}
.review__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.slider-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.slider-list__item {
  margin-right: 18px;
  &:last-child {
    margin-right: 0;
  }
}
.slider-list__link {
  color: transparent;
}
.slider-list__icon {
  fill: #d9d9d9;
}
.slider-list__link:hover .slider-list__icon,
.slider-list__link:focus .slider-list__icon {
  fill: #d41443;
}

// .slider-list__link {
//   fill: #d9d9d9;
// }
