.list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}
.review {
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
}
.review-img {
  margin-bottom: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review__section {
  position: relative;
  background-color: #fafafa;
  padding: 43px 66px 26px 57px;
  margin-bottom: 30px;
}

.review__section__text {
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.16;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.86;
  }
  margin-top: 0.8em;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.59;
  text-align: center;
  color: #000;
  background-image: url(../images/quotes-min.png);
  background-repeat: no-repeat;
}
.wrap {
  background: repeating-linear-gradient(
    to bottom,
    #fafafa,
    #fafafa 30px,
    #e1e1e1 31px,
    #e1e1e1 25px
  );
}
.review__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}
.review__title {
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.86;
  }
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.84;
  text-align: center;
  color: #000;
  margin-bottom: 30px;
  &::before {
    background-image: url(../images/review-dots.png);
    content: '';
    display: block;
    width: 32px;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
  }
}
