@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
  position: absolute;
}

.footer {
  background-color: #fff5f6;
}

.footer__pre-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffa5ba;
}

.footer__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-list__item {
  width: 32px;
  height: 32px;
}

.contacts-list__item:not(:last-child) {
  margin-right: 28px;
}

.contacts-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #ffffff;
  background-color: #ffa5ba;
  -webkit-transition: background-color 250ms ease-in;
  transition: background-color 250ms ease-in;
}

.contacts-list__linkhover, .contacts-list__linkfocus {
  background-color: #d41443;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
}

.footer-tel {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #000000;
}

.footer-tel__link {
  text-decoration: none;
  color: #d41443;
}

.copyright {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: #907e82;
}

/* Modal -- Form */
.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: opacity 400ms, visibility 400ms;
  transition: opacity 400ms, visibility 400ms;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #fff5f6;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  padding: 40px;
}

@media screen and (max-width: 1200px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.modal__button-commit {
  width: 200px;
  height: 50px;
  border-radius: 22px;
  background-color: #e17992;
  color: #ffffff;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border: none;
}

.modal__close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #e17992;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__close-icon {
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #850000;
  border: none;
}

.modal__close-icon:hover {
  fill: #e17992;
}

.modal__close {
  border: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  margin-top: 3px;
  color: #e17992;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  padding-right: 15px;
  background-color: transparent;
  -webkit-transition: border-color 250ms linear;
  transition: border-color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus {
  border-color: #e17992;
}

.modal__form-input:focus + .modal-input-icon {
  fill: #e17992;
}

.modal__form-input-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #e17992;
  display: block;
  margin-bottom: 4px;
}

.modal__form-field {
  margin-bottom: 10px;
}

.modal__form-field-last {
  margin-bottom: 0;
}

.modal__form-input-comment {
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  background-color: transparent;
  resize: none;
}

.modal__form-input-comment::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-input-comment:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-input-comment::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-input-comment::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-input-comment:focus {
  border-color: #e17992;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input-wrap {
  position: relative;
}

.modal__form-checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal__checkbox-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #e17992;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__checkbox-text::before {
  content: '';
  width: 38px;
  height: 22px;
  border-radius: 50px;
  border: 1px solid #e17992;
  margin-right: 4px;
  background-color: #e17992;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox-text::after {
  content: '';
  position: absolute;
  left: 1px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-color: #e17992;
  border-radius: 50%;
  -webkit-transition: background-color 250ms linear, -webkit-transform 250ms linear;
  transition: background-color 250ms linear, -webkit-transform 250ms linear;
  transition: transform 250ms linear, background-color 250ms linear;
  transition: transform 250ms linear, background-color 250ms linear, -webkit-transform 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1200px) {
  .modal__checkbox-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #e17992;
  }
  .modal__checkbox-text::before {
    content: '';
    width: 25px;
    height: 8px;
    border-radius: 50px;
    border: 1px solid #e17992;
    margin-right: 4px;
    background-color: #ffffff;
    -webkit-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__checkbox-text::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 3px;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-transition: background-color 250ms linear, -webkit-transform 250ms linear;
    transition: background-color 250ms linear, -webkit-transform 250ms linear;
    transition: transform 250ms linear, background-color 250ms linear;
    transition: transform 250ms linear, background-color 250ms linear, -webkit-transform 250ms linear;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal__checkbox:checked + .modal__checkbox-text::after {
  -webkit-transform: translateX(17px);
          transform: translateX(17px);
  background-color: #e17992;
}

.modal__checkbox:checked + .modal__checkbox-text::before {
  background-color: #e17992;
}

.modal__checkbox {
  color: #e17992;
  background-color: #e17992;
}

.modal__link {
  color: #e17992;
  margin-left: 5px;
}

@media screen and (min-width: 480px) {
  .modal__link {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

/* Modal -- Info */
.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: opacity 400ms, visibility 400ms;
  transition: opacity 400ms, visibility 400ms;
}

.backdrop.is-hidden .modal__info {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.modal__info {
  width: 528px;
  min-height: 581px;
  background-color: #fff5f6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(#2f303a66)), url(../img/modal-cow.png);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), #2f303a66), url(../img/modal-cow.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  padding: 40px;
}

@media screen and (max-width: 1200px) {
  .modal__info {
    width: 450px;
    height: 609px;
  }
}

.modal__button-commit {
  width: 200px;
  height: 50px;
  border-radius: 22px;
  background-color: #e17992;
  color: #ffffff;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border: none;
}

.modal__close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #e17992;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__close-icon {
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #850000;
  border: none;
}

.modal__close-icon:hover {
  fill: #d41443;
}

.modal__close {
  border: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__title-info {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 0px;
  margin-top: 3px;
  color: #ececec;
}

.modal__product-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ececec;
  margin-top: 50px;
  text-align: center;
}

/*
.modal__contacts {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-left: 160px;
}
.modal__contacts-number {
  color: #d41443;
}
*/
.modal__footer-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #000000;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */