<article id="Home">

      
    <section class="section_heder" >
            <button class="heder__button" type="button">
      <a class="heder__link" href="logo">
        <img class="heder__logo-img" src="./image/logo 1.png" alt="">
      </a></button>
      <nav>
      <div class="heder__div">
        <!-- container__mobile-menu,, -->
        <div class="container__mobile-menu" ></div>
      <button class="mob-menu__button-open js-open-menu" type="button"aria-expanded="false"
      aria-controls="mobile-menu">
        <svg class="mob-menu__svg" height="12px" width="20px">
          <use href="../images/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </nav>
  <div class="mob-menu js-menu-container "  >
    <div class="container-mobile-menu">
      <div class="mobile-menu-top">
        <div class="mobile-menu-closed-div">
        <button  type="button" class="mobile-menu-closed js-close-menu">
          <svg class="mobile-menu__svg" height="14px" , width="14px">
            <use href="../images/icons.svgicon-close"></use>
          </svg>
        </button>
      </div >
      <div class="heder__button-buy-now-div">
        <button class="heder__button-buy-now">Buy now
          <svg class="button-Buy-now-svg" width="5.26px" height="8px">
            <use href="№" ></use>
          </svg>
        </button>
      </div>
        <ul class="mobile-menu-list list">
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#Home">Home</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#about-us">About us</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="how-it’s-made">How it’s made?</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#our-products">Our products</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>




    </section>
  </article>