<div class="background-wrap">
<div class="background">
    <!-- -------------------------HEADER-------------------------- -->
<div class=""></div>
<!-- -------------------------HERO-------------------------- -->
    <section class="hero">
        <div class="container">
          <h1 class="hero__tittle">
            ice cream <br />
            made with <br /><span class="hero__passion">passion</span>
          </h1>
          <ul class="hero__list">
            <li class="hero__item">
              <a href="" class="hero__link hero__link--product">Products</a>
            </li>
            <li class="hero__item">
              <a href="" class="hero__link hero__link--made">How it’s made?</a>
            </li>
          </ul>
          </div>
      </section>
</div>
</div>